@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	font: 400 14px/21px 'Open Sans', sans-serif;
	color: rgba(0, 0, 0, .7);
}

button {
    display: inline-block;
    border: none;
	margin: 0;
	padding: 0;
    text-decoration: none;
    cursor: pointer;
	appearance: none;
	background-color: transparent;
	outline: 0;
	color: inherit;
	font-size: inherit;
}

.custom-scroll::-webkit-scrollbar {
	width: 6px;
}

.custom-scroll::-webkit-scrollbar-thumb {
	background-color: #efefef;
}
